.nav-bar nav{
    background-color: #26425a;;
    /* padding: 1rem; */
}

/* .nav-bar ul{
    display: block;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
} */

.nav-bar a{
    text-decoration: none;
    color:white;
}
.nav-bar .dropdown-menu a{
    color: black;
}

.nav-bar a:hover{
    color: blue;
    text-decoration: underline;
}

.nav-bar a:visited{
    /* color: pink; */
    background-color: transparent;
    text-decoration: none;
}

.body{
    background-color: #26425a;
    color: white;
    /* margin: 5px; */
}
.topic a{
    text-decoration: none;
}
.topic a:hover{
    color: blue;
    text-decoration: underline;
}

.Group a{
    text-decoration: none;
}

.Group a:hover{
    text-decoration: underline;
    color: blue;
    
}
.card-body a{
    text-decoration: none;
    
}
.card-body a:hover{
    
    text-decoration: underline;
}

h5 a{
    text-decoration: none;
    
}
h5 a:hover{
    color: blue;
    text-decoration: underline;
}

.createroom{
    padding: 10px;
    /* margin: 0; */
    /* border: 1px solid black; */
}

.delete_room{
    justify-content: center;
    /* align-items: center; */
    display: flex;
    padding: 40px;
}

.login-container{
    /* border: 1px solid #e1cbd7; */
    justify-content: center;
    margin: 40px;
    display: flex;
    align-items: center;
    padding: 50px;
    /* background-color: blue; */
    
   
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 70px; 
    background-color:  #86a8cf;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* text-align: center; */
    /* width: 400px; */

}

.login .form-text{
    color: white;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 50px; 
    background-color: #86a8cf;
    color: black;
    /* margin: 400px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /* text-align: center; */
    /* width: 400px; */
}

.page-layout{
    padding: 10px;
    background-color: #86a8cf;
    color: white;
    /* border: 1px solid blue; */
}

.page-layout .rooms h3 {
    text-align: center;
    font-family: fantasy;
}

.user_profile{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 70px; 
    background-color:  #86a8cf;
    color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.head1{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.head1 h1{
    font-family: monospace;
}

.search {
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
}