{% extends 'partial/main.html' %}
{% load static %}
{% block content %}


<div class="container text-center">
    <div class="row">
        <div class="col-12 col-lg-12">
            <div class="createroom">
                <h2>Create Form</h2>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form" >
                        <label for="room_name">Room name</label>
                        {{form.name}}
                    </div><br>

                    <div class="">
                        <label for="room_topic">topic</label>
                        <input required type="text" name="topic" list="topic-list" class="form-control" placeholder="Enter a topic" value="{{room.topic.name}}">
                        <datalist id="topic-list">
                            <select  id="room_topic">
                                {% for topic in topics %}
                                <option value="{{topic.name}}">{{topic.name}}</option>
                                {% endfor %}
                            </select>
                        </datalist>
                    </div>

                    <div class="form" >
                        <label for="room_description">Description</label>
                        {{form.description}}
                    </div>

                    <!-- {{form.as_p}} -->
                    <button class="btn btn-primary">Sumbit</button>
                </form>
            </div>
        </div>
    </div>

</div>



{% endblock %}