{% extends 'partial/main.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <div class="page-layout">
                <div class="rooms">
                    <h3> {{rooms.name}} </h3>
                    <small>Hosted by @{{rooms.host}}</small> <br>
                    <small>Topic {{rooms.topic}}</small> <br>
                    <small>Created at {{rooms.created|timesince}}</small> <br>
                    <a href="{% url 'delete' rooms.id %}" class="btn btn-danger">Delete</a>
                    <hr>
                    <p>{{rooms.description}}</p>
                </div>
                <div>
                    <h2>Conversation</h2>
                    <hr>
                    {% for message in message %}

                    <div class="review ">
                        {% if request.user == message.host %}
                        <a href="{% url 'delete_message' message.id %}" class="btn btn-danger" >Delete</a>
                        {% endif %}
                        <small><a href="{%url 'profile' message.host.id %}">@{{message.host}} </a>{{message.created|timesince}}</small>

                        
                        <p>{{message.body}}</p>
                        <hr>
                    </div>

                    {% endfor %}

                    <div class="messange-form">
                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="text"  class="form-control" name="message" placeholder="Typing...."  >
                        </form>
                    </div>
                </div>
            </div>
        </div>


        
        <div class="col-2">
            <div class="paticipant">
                <h2>paticipants <small>({{rooom}})</small></h2>
                <hr>
                {% for user in paticipants %}

                <div>
                    <a href="{%url 'profile' user.id %}">
                    <strong>@{{user.username}}</strong>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
 

</div>





{% endblock %}