{% extends 'partial/main.html' %}
{% load static %}
{% block content %}




<div class="container-fluid">
    <div class="row ">
       <div class="col-3">
          <div class="topic">
              <h1 >Topics</h1>
              <hr>
                  <p><Strong><a href="{% url 'home' %}">All</a></Strong></p>
                  <p><Strong><a href="{% url 'topic' topic.name%}">{{topic.name}}</a></Strong></p>
              
          </div>
       </div>
        <div class="col">
            <h1>Groups</h1>
            <p><a href="{% url 'create' %}  "  title="Create Your Very Own Room">Create Your Own Group</a></p>
            <div class="row">
                {% for room in rooms%}
                <div class="col-12 col-lg-6 ">
                  <div class="card">
                     <div class="card-body">
                        <small>Host: @{{room.host}}</small> <br>
                        <h5 class="card-title"><a href="{% url 'room' room.id %}">{{room.name}}</a> </h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Topic: {{room.topic}}</h6>
                        <p><a href="{% url 'delete' room.id %}" class="btn btn-danger">Delete</a>   <a href="{% url 'update' room.id %}" class="btn btn-primary">update</a></p>
                        <p class="card-text">{{room}}</p>
                     </div>
                     
                  </div>
                </div>
                {% endfor %}
            </div> 
       </div>
       <div class="col-2">
         <h1>Activity</h1>
         {% for message in message%}
         <p><small>@{{message.host}}    {{message.created|timesince}}</small></p>
         <strong>Replied to post "{{message.room.name}}"</strong>
         <hr>
        {% endfor %}
       </div>
        
    </div>
</div>






{% endblock %}