<div class="nav-bar">
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">logout</a>
            </li>
            {%else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Sign in</a>
            </li>
            {% endif %}
            <form class="d-flex" role="search" method="post" action="{% url 'search' %}">
              {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
              <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
          </ul>
    </nav>
</div>
{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}